@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method='post'>
    <input type='text' name='name' placeholder='enter name' />
    <select name='language'>
        <option value='english'>English</option>
        <option value='spanish'>Spanish</option>
        <option value='french'>French</option>
        <option value='german'>German</option>
        <option value='italian'>Italian</option>
    </select>
    <input type='submit' value='Greet Me!' />
</form>